
.steam-checkbox-div{
    display: flex;
    
    align-items: center;
    width: fit-content;
}

input[type=checkbox] {
    
    vertical-align: middle;
    appearance: none;
    
    background-color: #4C5844;
    width: 15px;
    height: 15px;
    border-top: solid 1px #292d23;
    border-bottom: solid 1px #899281;
    border-left: solid 1px #292d23;
    border-right: solid 1px #899281;
}
.steam-checkbox-div > label{
    color: #d8ded3;
    font-family: Trebuchet MS;
    margin-left:10px;
}
input[type=checkbox]:checked {
    
    border-top: solid 1px #899281;
    border-bottom: solid 1px #292d23;
    border-left: solid 1px #899281;
    border-right: solid 1px #292d23;
}