.games-window{
  margin-top: 10px;
    flex:2.25;
    margin-bottom: 20px;
  }
  .greyedOutText{
    color:#97A175;
  }
  .titleText{
    font-size: 2rem;
    margin: 0;
}
.game-info{
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .titleText{
    text-align: center;
    margin-bottom: 20px;
  }
}