.steam-inset-box{
    background-color: #3e4637;
    display:flex;
    flex-direction: column;
    padding:5px;
    border-width: 0.5px;
    border-top-color:black;
    border-left-color:black;
    border-left: solid 1px #292d23;
    border-top: solid 1px #292d23;
    border-bottom: solid 1px #899281;
    border-right: solid 1px #899281;
    margin-bottom: 20px;
}

.steam-inset-box > .steam-inset-box{
    background-color: white;
    display:flex;
    flex-direction: column;
    padding:20px;
    border-width: 0.5px;
    border-top-color:black;
    border-left-color:black;
    border-bottom-color: #88917F;
    border-right-color: #88917F;
    border-style: solid;
}

.steam-inset-box>p{
    font-size: 14px;
    color: #d8ded3;
    font-family: Trebuchet MS;
  }