.steam-game-card{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.steam-game-card > img{
    width: fit-content;
    height: fit-content;
}



.steam-game-left-side{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.steam-game-left-side > p {
    color: #d3d3d3;
    margin-left: 10px;
    margin-top: 10px;
}

.steam-game-left-side > a {
    color: #d3d3d3;
    margin-left: 10px;
    margin-top: 10px;
    
}

.steam-game-right-side{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.steam-game-right-side > p {
    color: #d3d3d3;
    margin-left: 10px;
    text-align: right;
    margin-bottom: 5px;
    color:#97A175;
}

@media screen and (max-width: 768px) {
    .steam-game-card {
        align-items: center;
        flex-direction: column;
    }
    .steam-game-left-side{
        flex-direction: column;
        align-items: center;
    }
    
    .steam-game-right-side{
        align-items: center;
        flex-direction: column-reverse;
    }
  }