.userProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  
  .imageLarge {
    max-width: 150px;
    max-height: 150px;
    border: solid 3px #999999;
    margin-right: 2rem; /* add this to create space between the image and the nameText */
  }
  
  .nameText {
    font-size: 2rem;
    color: #d3d3d3;
    flex-grow: 1; /* add this to make the paragraph expand to fill the remaining space */
  }
  .greyedOutText{
    color:#97A175;
  }
  
  .levelText{
    font-size: 2rem;
    display: flex;
    color: #d3d3d3;
  }
  .circle {
    border: 2px solid #d3d3d3;;
    margin-left: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    width:fit-content;
    height: fit-content;
    text-align: center;
  }

  .profile-right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
  }