.steam-window {
    background-color: #4C5844;
    height: 100%;
    display: flex;
    border-style: solid;
    border-width: 0.5px;
    flex-direction: column;
    border-top: solid 1px #899281;
    border-bottom:solid 1px #292d23;
    border-left:  solid 1px #899281;
    border-right: solid 1px #292d23;
    margin: 10px;
    
  }
  .steam-window-navbar {
    background-color: #4C5844;
    height: auto;
    display: flex;
    width: 85%;
    border-style: solid;
    border-width: 0.5px;
    flex-direction: column;
    border-top: solid 1px #899281;
    border-bottom:solid 1px #292d23;
    border-left:  solid 1px #899281;
    border-right: solid 1px #292d23;
    margin: 10px;
    margin-bottom: 50px;
    
  }
  .steam-window-content h1 {
    color:#C4AC49;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size:2.25em;
  }

  .steam-window-content h5 {
    color: #d8ded3;
    font-family: Trebuchet MS;
    font-size:1em;
    font-weight: bold;
  }

  .steam-window-content h2 {
    color:#C4AC49;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size:1.75em;
  }
  .steam-window-content a {
    color :#aaaaaa;
  }

  .steam-window-content a:hover {
    color :#C4AC49;
  }

  .steam-window-content >p{
    font-family: Trebuchet MS;
  }
  .steam-window-content{
    padding:30px;
    display:flex;
    flex-direction: column;
  }

  .steam-window-content-no-padding{
    display:flex;
    flex-direction: column;
  }
