.steam-background {
    background-color: #3e4637;
    display: flex;
    flex-direction: column;
  }
  code{
    background: #3e4637;
    padding: 3px;
    color: inherit;
    
  }

  input{
    background: #3e4637;
    outline: none;
    border-right-color: #88917F;
    border-bottom-color: #88917F;
  }
