.steam-background {
    background-color: #3e4637;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  code{
    background: #3e4637;
    padding: 3px;
    color: inherit;
  }

  *::selection{
    background-color: #9b8f41;
  }

  *:focus{
    outline: dashed;
    outline-offset: -5px;
    outline-color:#292D23;
    outline-width: 1.5px;
  }

  a:focus{
    outline:none improtant!;
  }

  select, textarea {
    width:fit-content;
    border-left: solid 1px #292d23;
    border-top: solid 1px #292d23;
    border-bottom: solid 1px #899281;
    border-right: solid 1px #899281;
    color: #d8ded3;
    background: #3e4637;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y:50%;
  margin-right: 2rem;
  padding-left: 0.5rem;
  padding-right: 2rem;
}



.greyedOutText{
  color:#97A175;
}

.main-div{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.friends-and-games{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.friends-window{
  flex:1;
}
